<% @page_title = "Parkapp | Registro" %>

<div id="iphone">
  <div class="screen">

<% if flash[:color]=="valid" %>
<div class="valid_notice">
  <p><%= flash[:notice] %></p>
</div>
<% elsif flash[:color]=="invalid" %>
<div class="invalid_notice">
  <p><%= flash[:notice] %></p>
</div>
<% end%>

				<div class= "Sign_Form">
					<h1>Registro</h1>
					<%= form_for(:user, :url => users_processregistration_path) do |f| %>

						<p> Usuario:</br> <%= f.text_field :username%> </p>

						<p> Email:</br> <%= f.text_field :email%> </p>

						<p> Contraseña:</br> <%= f.password_field :password%></p>

						<p> Confirmar contraseña:</br> <%= f.password_field :password_confirmation%> </p>

						<p><%= f.submit :'Registrarme' %></p>
            <p><%= link_to 'Volver a inicio', root_path %></p>
					<% end %>

					<% if @user.errors.any? %>
						<ul class="Signup_Errors">
							<% for message_error in @user.errors.full_messages %>
							<li>* <%= message_error %></li>
							<% end %>
						</ul>
					<% end %>
</div>

    </div>
</div>
<div id="introduction">
  <%= render 'site/introduction' %>
</div>